@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Poppins:wght@200;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    
    font-weight: 600;
    text-align: center !important;
}
input{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
}
.carre{
    background: grey;
    height: 70px;
    width: 70px;
    margin: 50px;
    padding-top:30px ;
    padding-bottom: 10px;
    color: #fff;
   display: flex;
    transition: 1s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.active{
    transform:rotate(360deg) scale(2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.activeFont{
    font-family: Noto Sans JP, sans-serif;
}

span a{
    font-size: 9px;
    text-align: center;
    text-decoration:none;
    color: #fff;
    transition: 1s;
   opacity: 0%;
}
.active a{
    opacity: 100%;
}
.facebook.active {
background: #3b5998;
}
.active.instagram{
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.active.twitter{
    background: #1DA1F2;
}
